# Ignore the proposed grids
datasets/Proposed_Grids/

# Ignore the round comparision plots
datasets/round_comparison_plots/

# Ignore ipynb_checkpoints


# Ignore the build directory
/.ipynb_checkpoints
